{

	"cache": {
		"path": "/var/tiles", 
		"name": "Test"
	},

	"layers": {

		"microsoft_aerial": {
			"provider": {
				"name": "proxy", 
				"provider": "MICROSOFT_AERIAL"
			}
		},

		"dithered": {
			"provider": {
				"class": "atkinstache.dithering.Provider",
				"kwargs": {
					"source_layer": "microsoft_aerial"
				}
			}
		},

		"buildings": {
			"provider": {
				"class": "mapequalsyes.footprint.Provider",
				"bounds": { "low": 15, "high": 18 },
				"kwargs": {
					"type": "way",
					"query": "[building=*]",
					"fill": "#ffffff"
				}
			}
		},

		"buildings-outline": {
			"provider": {
				"class": "mapequalsyes.footprint.Provider",
				"bounds": { "low": 15, "high": 18 },
				"kwargs": {
					"type": "way",
					"query": "[building=*]",
					"fill": "#000000",
					"filltype": "line"
				}
			}
		},

		"buildingequalyes": {
			"provider": {
				"class": "TileStache.Goodies.Providers.Composite:Provider",
				"kwargs": {
					"stack": [
						{"src": "dithered", "zoom": "15-18"},
						{"src": "buildings", "zoom": "15-18"},
						{"src": "buildings-outline"}
					]
				}
				}
		}

	}
}
